body{
    background-image: url('../img/game-bg.png');
    background-size: 100% 100%;
  }
  body, html {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
.swiper-slide {
    background: #f1f1f1;
    color:#000;
    text-align: center;
    line-height: 300px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image: none !important;
}
  .navbar-inverse .navbar-toggle .icon-bar{
    background-color: #fff !important;
  }
  .team-score{
    position: relative;
  }
  .team-score .content{
    position: absolute;
  }
  .swiper-container {
    width: 138%;
    height: 382px;
    margin: 18px auto 2px;
  }
  .item {
      min-height: 200px;
      text-align: center;
    }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
     left: 1.15rem !important;
  }
    .swiper-slide.swiper-slide-next {
    margin-top: 1rem;
    height: 90%;
  }
  .carousal-conatiner{
      width: 115%;
      margin-left: -14%;
  }
  .swiper-slide.swiper-slide-prev {
      margin-right: 1.5rem !important;
      height: 90%;
      margin-top: 1rem !important;
  }

  .swiper-pagination.swiper-pagination-bullets {
      display: none;
  }

  .swiper-slide.swiper-slide-active {
      width: 58% !important;
      margin-right: 2.5% !important;
  }                   
  .swiper-slide{
    line-height: 3rem !important;
    padding-top:1rem !important;
  }
  .swiper-scrollbar{
    display: none;
  }
  .foot-card1{
    margin-top: 0.8rem !important;
    background: url(../img/scratchcardlocked.svg);
    background-repeat: no-repeat;
    height: 10.5rem;
    background-position: center;
    display: none !important;
  }
  .foot-card2{
    margin-top: 0.8rem !important;
    background: url(../img/scratchcardunlocked.svg);
    background-repeat: no-repeat;
    height: 10.5rem;
    background-position: center;
  }

.stopwatch-container{
  margin-top:12rem;
  font-size: 1.7rem;
}
.stopwatch{
  position: relative;
} 
.stopwatch:before{
  background: url(../img/stopwatch.svg);
    background-size: contain;
    position: absolute;
    content: '';
    display: inline-block;
    height: 3rem;
    width: 3rem;
    top: -4rem;
    left: -2rem;    
}
.moveLeft{
  margin-left: -4rem !important;
}
.nolive{
  position: relative;
  font-size: 2rem !important;
  margin-top: 8rem !important;
}
.nolive:before{
  content: '';
    position: absolute;
    height: 8rem;
    width: 6rem;
    background: url(../img/batsman-l.svg) no-repeat;
    left: 10rem;
    top: -10rem;
    background-size: 100% 100%;
}

.txt-8{
  font-size: 8px;
}
.txt-10{
  font-size: 10px;
}
.team{
  position: relative;
  font-weight: bold;
}
.title-mum:after{
  content: 'Vs';
  color: #df0827;
  font-weight: 650;
  position: absolute;
  right: 0;
  top: 1rem;
  font-size: 2rem;  
}
.team-vs-mum:before{
  background: url(../img/mum.svg) no-repeat;
   background-repeat:no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   left:-17%;
   top:7px;
}

.team-vs-ban:after{
   background: url(../img/ban.svg) no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   right:-40%;
   top:7px;
}
.match-date{
  margin-left: -2.6rem;
}
.match-time{
  background: #9b9b9b;
  color: white;
  border-radius: 3px;
  padding: 5px 3px;
  text-align: center;

}
.teams{
    position:relative;
}
.team-icon{
    position:relative;
}
.team1{
    padding-left: 14%;
}
.team1.teams:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4rem;
    width: 1rem;
    top: -0.2rem;
    right: 0rem;
    border-right: 1px solid #fff;
    transform: rotate(20deg);
}
.team2{
    padding-right:2rem;
    padding-left: 16%;
}

.team1 .team-icon:before{
    content: '';
    position: absolute;
    height: 3.8rem;
    width: 3.8rem;
    top: 0.3rem;
    left: -4.9rem;
    background: url(../img/mum.svg) no-repeat;
    background-size: 100% 100%;
}
.team2 .team-icon:after{
    content: '';
    position: absolute;
    height: 3.8rem;
    width: 3rem;
    top: 0rem;
    right: -10rem;
    background: url(../img/ban.svg) no-repeat;
    background-size: 100% 100%;
}
.team-score {
    font-weight: 900;
    font-size: 1.6rem;
}
.team2 span.content {
    content: '';
    position: absolute;
    color: #ffffff;
    top: 4rem;
    right: 4.5rem;
    font-size: 1rem;
}

.team1 span.content {
    content: '';
    position: absolute;
    color: #ffffff;
    top: 4rem;
    left: 9.5rem;
    font-size: 1rem;
}
.card-panel{
  background: #4a4a4aa6;
  border-radius: 1.2rem;
  color: #fff;
  opacity: 0.8;
  border: 2px solid #4a4a4aa6;
  font-size: 1.2rem;
}
.ball-icon:before{
  content: '';
  position: absolute;
  height: 2rem;
  width:3rem;
  background:url('../img/cricketBall.svg') no-repeat;
  left: 7%;
  top: 0.5rem;
}
.ball-icon{
  position: relative;
}

.over{
  padding-left: 10%;
  white-space: nowrap;
}
.result.won span{
  color: #3c763d;
  background: #dff0d8;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  white-space: nowrap;
}
.result.lost span {
  color: #a94442;
  background: #f2dede;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: bold; 
  white-space:nowrap
}
.quest{
  font-size: 2rem;
}
.answer{
  padding: 0 4rem;
}
.answer .selected{
  font-size: 1.3rem;
  font-weight: normal !important;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  display: inline-block;
}
.coin{
  position: relative;
}
.navbar-header{
  position: relative;
}
.coin:before{
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: url(../img/coin.svg);
  top: 0.5rem;
  left: 2rem
}
.game-top{
  margin-left: -3rem;
}
.game-top .top-coin{
  position: absolute;
  right: 13%;
  top: 1.3rem;
}
.question{
  font-size: 1.7rem;
}
.no-bowl{
  margin-top: 5rem;
}
.won-card{
  position: relative;
}
.won-card:before{
   content: '';
    position: absolute;
    display: inline-block;
    top: 1rem;
    left: 0.5rem;
    width: 97%;
    height: 32rem;
    background: url(../img/celeb1.svg) no-repeat;
    background-size: 100% 100%;
}
.won-card .btn-submit{
  background: #28ae62 !important;
  box-shadow: 1px 1px 9px 0px #28ae62 !important;
}
.won-card .no-bowl{
  color:#28ae62 !important;
}
.btn-live{
  position: relative;
}
.btn-live:after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 6rem;
  height: 2.2rem;
  top: -0.3rem;
  left: -6.2rem;
  background: url(../img/live.svg) no-repeat;
  background-size: contain;
  background-color: #df0827;
}
.scratch-title{
  position: relative;
}
.scratch-title:before{
  content: '';
  position: absolute;
  display: inline-block;
  height: 8rem;
  width: 29rem;
  top: 1rem;
  left: 4%;
  background: url(../img/scratch-title.svg) no-repeat;
}
.good-title:before{
  content: '';
  position: absolute;
  display: inline-block;
  height: 8rem;
  width: 94%;
  top: 5rem;
  left: 4%;
  background: url(../img/king-good.svg) no-repeat;
  background-size: 100% 100%;
}

.canvas {
  position: absolute;
  top: 5rem;
  left: 10%;
  width: 24rem;
}

.form {
  padding: 20px;
}
.claim-list{
  position: relative;
  margin-top: 10rem;
}
.claim-list li{
  font-size: 1.6rem;
    margin: 4rem 0;
    list-style: none;
}
.claim-list li:nth-child(2){
  margin-bottom: 1rem !important;
    
}
.claim-list li:before{
  content: '';
  position: absolute;
  height: 2rem;
  width:3rem;
  background:url('../img/cricketBall.svg') no-repeat;
  left: 1rem;
}
.congratulation .congo-icon{
  position: relative;
  padding: 11rem 2rem 0rem;

}
.congratulation .congo-holder{
  display: block !important;
}

.congratulation .congo-icon:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 7rem;
  left: 14%;
  width: 15rem;
  height: 3rem;
  background: url(../img/congratulations.png) no-repeat;
  background-size: contain;
}
.congratulation .claim-list{
  display: none;
}
.celebration{
  position: relative;
}
.modal-dialog.congratulation:before{
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/celeb-lg.png) no-repeat;
  height: 37rem;
  width: 100%;
  top: 7rem;
  z-index: 999;
  background-size: 100% 97%;
}
.congratulation .sms-alert{
  margin-top: 11rem;
  display: none;
}
.congratulation .go-btn{
  display: block !important;
}
.won-title{
  font-size: 1rem;
}
.won-point{
  position: relative;
    font-size: 3rem;
}
.won-point:before{
  content: '';
    position: absolute;
    top: 18%;
    left: 20%;
    height: 3rem;
    width: 3.5rem;
    background: url(../img/coin.svg) no-repeat;
    background-size: contain;
}
.icon-timer{
    display: inline-block;
    background: url(../img/timer.png) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 3.5rem;
    width: 6rem;
    right: 3rem;
    text-align: center;
}
.btn-submit{
  padding: 1rem !important;
}
.team-name.cheers{
    position:relative;
}
.team1 .team-name.cheers:after {
    content:'';
    position:absolute;
    top:-0.5rem;
    left:5rem;
    height:2.5rem;
    width:2em;
  
    background:url('../img/cheers.svg') no-repeat;
    background-size:contain;

}
.team2 .team-name.cheers:after {
    content:'';
    position:absolute;
    top:-0.5rem;
    right:7.5rem;
    height:2.5rem;
    width:2em;  
    background:url('../img/cheers.svg') no-repeat;
    background-size:contain;

}
.innings-title{
  content: '';
  position: absolute;
  display: inline-block;
  height: 8rem;
  width: 100%;
  top: 1rem;
  left: 0;
  background: url(../img/innings-title.svg) no-repeat;
  background-position: center;
  background-size: 82% 100%;
}
.innings .ball-icon:before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 3rem;
    background: url(../img/cricketBall.svg) no-repeat;
    left: -2.8rem;
    top: 0rem;
}
.innings .won-title{
  font-size: 2rem;
  font-weight: 600;
  padding-top: 5rem;
}
.innings .score {
    font-size: 2rem;
    font-weight: 300;
}
.here-container{
  margin-top: 4rem !important;
}
.modal-body.select{
  padding-top: 7rem;
}
.select .select-txt{
  color: #4a4a4a;
}
.card-list {
    position: relative;
    padding: 1.6rem 0 1.6rem 7rem !important;
    border: 0.5px solid #979797;
    border-radius: 6px;
    margin-top: 1.5rem;
    font-size: 1.6rem;
}
.card-list:before {
    content: '';
    position: absolute;
    display: inline-block;
    background: url(../img/cheers.svg) no-repeat;
    height: 3rem;
    width: 3rem;
    top: 1rem;
    left: 3rem;
}
span.expired {
    color: #df0827;
    border: 1px solid #df0827;
    border-radius: 15px;
    padding: 0.2rem 1.1rem;
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    font-size: 1.5rem !important;
}
.modal-dialog.modal-lg.king{
    position:relative;
}
.modal-dialog.modal-lg.king:before {
   content: '';
    position: absolute;
    top: -3rem;
    left: -3rem;
    height: 70rem;
    width: 42rem;
    background: url(../img/sparkle.svg) no-repeat;
    background-size: contain;
}
.modal-dialog.modal-lg.king{
  margin-right:4rem;
  margin-left:4rem;
}

.king .modal-header .close{
  left: 44% !important;
}
.imp-title{
  margin-top: 5rem !important;
}
.locked-icon{
  position: relative;
  font-weight: 750 !important;
}
.locked-icon:before{
  content: '';
  position: absolute;
  display: inline-block;
  top: -7rem;
  left: 40%;
  background: url(../img/lock.svg) no-repeat;
  height: 8rem;
  width: 8rem;
}
.lock .claim-list{
  margin-top: 12rem !important;
}
.foot-card3{
    background: url(../img/foot3.svg);
    background-size: 100% 100%;
    padding: 1.2rem 0;
    border-radius: 2px;
}
.foot-card3 .ball-icon:before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 3rem;
    background: url(../img/cricketBall.svg) no-repeat;
    left: 17.4rem;
    top: 0rem;
}
.foot-card3 .won-txt{
  color: #28ae62;
}
.foot-card3 .foot-coin{
  color:#4a4a4a !important;
}
.icon-kf{
  
}


#kingModal .modal-body .form-group img {
    margin-left: -6% !important;
}
/*to hide all slide contents except active one*/
.swiper-slide > * {
    visibility:hidden;
}
.swiper-slide.swiper-slide-active > * {
    visibility:visible;
}
