.regSection .form, .otpSection .form, .moreDetailSection .form, .fillSection .form {
    padding: 1rem;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fbfbfb;
    font-size: 1.3rem;
}
.regist-head{
  position:relative;
}
.fixedHeight .regSection .form{
  padding: 1rem 2rem 6rem;
}
.otp-container{
  /*margin-bottom: 16rem !important;*/
}
.drop-container {
  margin-top: 4rem !important;
}
.text-container{
  padding-top: 2rem !important;
  margin-bottom: 4rem !important;
}
.btn-top{
  margin-top: 7rem !important;
}
.btn-top2{
  margin-top: 6rem !important;
}
.regist-head:before{
   background: url(../img/cricket_bat.svg) no-repeat;
   background-repeat:no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   left:10%;
   top:0;
}
.regist-head:after{
   background: url(../img/cricket_bat.svg) no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   right:2%;
   top:0;
}
.claim-head:before{
   background: url(../img/batsman-r.png) no-repeat;
   background-repeat:no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   left:2%;
   top:0;
}
.claim-head:after{
   background: url(../img/batsman-l.png) no-repeat;
   content: '';
   position:absolute;
   height:5rem;
   width:6rem;
   right:2%;
   top:0;
}
.claim-head{
  position: relative;
}
.btn-claim{
	border: 2px solid #df0827;
    color: #df0827;
    background: #fff;
    height: 10rem !important;
    padding: 0 3rem !important;
    font-size: 1.35rem !important;
}
img.claimoption1, img.claimoption2 {
    overflow: hidden;
    width: 71%;
}
.leaderboardrank{
  border: solid 0.5px #d0d6da;
    background-color: #ffffff;
    display: inline-flex;
    padding-top: 1rem;
    margin-top: 10px;
    width: 95%;
    padding-bottom: 1rem;
}
.ovalrank {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: #df0827;
  border-radius: 100px;
  top: -0.7rem;
  left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  line-height: 2.5; 
}

.myrank{
  border-left: #df0827 6px solid;

}
